@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: Avenir Next-Regular;
    src: url(../font/AvenirNextLTPro-Regular.ttf);
}

@font-face {
    font-family: Avenir Next-Bold;
    src: url(../font/AvenirNextLTPro-Bold.ttf);
}



body{
    background-color: #121418;
    display: flex;
    justify-content: center;
}

.content{
    width: 400px;
}

.textLogin{
    color: #FFF;
    font-family: 'Avenir Next-Bold', Avenir Next;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 48px;
}

.buttonSSO{
    font-family: 'Avenir Next-Regular', Avenir Next;
    width: 100%;
    height: 58px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 24px;
}

.or{
    color: #FFF;
    font-family: 'Avenir Next-Regular', Avenir Next;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.img{
    width: 100%;
    height: 43px;
    flex-shrink: 0;
    margin-top: 84px;
    margin-bottom: 48px;
}

.formLogin{
    display: block;
}

input[type=text]{
    font-family: 'Avenir Next-Regular', Avenir Next;
    width: 100%;
    height: 42px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #2D2D2D;
    background-color: #121418;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

input[type=password]{
    font-family: 'Avenir Next-Regular', Avenir Next;
    width: 100%;
    height: 42px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #2D2D2D;
    background-color: #121418;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

label{
    color: #FFF;
    font-family: 'Avenir Next-Regular', Avenir Next;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    margin-top: 15px;
    display: block;
}

input[type=submit]{
    font-family: 'Avenir Next-Regular', Avenir Next;
    width: 100%;
    height: 46px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #6D75F6;
    color: #FFF;
}

.forgotPassword{
    width: 100%;
    color: #6D75F6;
    font-family: 'Avenir Next-Regular', Avenir Next;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: right;
    display: block;
    margin-top: 13px;
    margin-bottom: 8px;
    text-decoration: none;
}

.contactAdmin{
    width: 100%;
    color: #6D75F6;
    font-family: 'Avenir Next-Regular', Avenir Next;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.contact{
    font-family: 'Avenir Next-Regular', Avenir Next;
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: #FFF;
    margin-top: 34px;
}

.copyright{
    color: #A6A6A6;
    font-family: 'Poppins', Poppins;
    font-size: 11.372px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    text-align: center;
    margin-top: 114px;
}

.password-container {
    position: relative;
}

.formLogin input{
    color: #FFF;
}

#password{
    padding-right: 13px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #1F1F1F;
  border-radius: 11px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #585859;
  }
  .with-arrow svg {
      width: 25px;
      opacity: 0;
      transform: translateX(-10px);
      transition: 0.25s transform, 0.25s opacity;
  }
  .with-arrow:hover svg {
      opacity: 1;
      transform: translateX(0);
  }
  .with-arrow-footer svg {
      width: 25px;
      opacity: 0;
      transform: translateX(-10px);
      transition: 0.25s transform, 0.25s opacity;
  }
  .with-arrow-footer:hover svg {
      opacity: 1;
      transform: translateX(0);
  }
  .with-arrow-footer svg path{
      fill:#6D75F6 !important;
  }
  .with-arrow-footer :hover p{
      color:#6D75F6 !important;
  }
  .with-arrow-footer :hover a{
      color:#6D75F6 !important;
  }