body {
    display: grid;
    grid-template-areas:
    "aside main";
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
    height: 100vh;
    margin: 0;
    
    color: white;
    background: #1f1f1f;
    font-family: 'Avenir Next', sans-serif;
}

/* === Sidebar === */

aside {
    display: grid;
    grid-template-areas:
        "identity-header"
        "sidebar-content";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 340px;
    background: black;
}

.identity-header {
    grid-area: identity-header;
    display: flex;
    min-height: 64px;
    max-height: 64px;
    padding: 0 42px 0 42px;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #2D2D2D;
}
.identity-header-picture {
    width: 30px;
    margin-right: 8px;
}
.identity-header-name {
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.sidebar-content {
    grid-area: sidebar-content;
    display: grid;
    grid-template-areas: 
        "assistant-list-title"
        "assistant-list"
        "profile-card"
        "soca-branding";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    padding: 28px 42px 30px 42px;
}

.assistant-list-title {
    grid-area: assistant-list-title;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.assistant-list {
    grid-area: assistant-list;
    padding: 8px 0;
    height: 100%;
}
.assistant-list-item {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    align-items: center;
    box-sizing: border-box;

    border-radius: 8.485px;
    background: #1F1F1F;
}
.assistant-list-item img {
    width: 22px;
    margin-right: 8px;
    object-fit: contain;
}
.assistant-list-item p {
    margin: 0;
    font-size: 14px;
}

.profile-card {
    grid-area: profile-card;
    display: grid;
    grid-template-areas:
        "picture name"
        "picture settings";
    grid-template-columns: auto 1fr;
    gap: 0 14px;
    margin-bottom: 32px;
}
.profile-card-picture {
    grid-area: picture;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #7B7B7B 0%, #ECECEC 100%);
    object-fit: cover;
}
.profile-card-name {
    grid-area: name;
    margin: 3px 0 0 0;
    font-size: 16px;
    font-weight: 600;
}
.profile-card-settings {
    margin: 0 0 2px 0;
    align-self: flex-end;
    color: #6D75F6;
    font-size: 12px;
    text-decoration: none;
}

/* === Main === */

main {
    display: grid;
    grid-template-areas:
        "notice-header"
        "chat-list"
        "chat-prompt";
    grid-template-rows: auto 1fr auto;
}

.notice-header {
    grid-area: notice-header;
    display: flex;
    min-height: 64px;
    max-height: 64px;
    padding: 0 42px;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #2D2D2D;
}
.notice-header-text {
    margin: 0;
    font-size: 16px;
}

.chat-list {
    grid-area: chat-list;
}

/* === Chat Prompt === */

.chat-prompt-container {
    grid-area: chat-prompt;
    display: grid;
    place-items: center;
    padding: 0 10% 30px 10%;
}
.chat-prompt {
    display: flex;
    width: 100%;
    min-height: 60px;
    padding: 0 18px;
    box-sizing: border-box;
    
    border-radius: 14px;
    border: 1px solid #585859;
    overflow: hidden;
}
.chat-prompt.chat-prompt-double-mode {
    display: block;
}

.chat-prompt-left {
    display: flex;
    width: 100%;
    height: 60px;
}
.chat-prompt-right {
    display: flex;
}
.chat-prompt-right-content {
    display: none;
}
.chat-prompt.chat-prompt-double-mode
.chat-prompt-right {
    width: 100%;
    height: 45px;
    padding-bottom: 10px;
}
.chat-prompt.chat-prompt-double-mode .chat-prompt-right
.chat-prompt-right-content {
    display: flex;
    width: 100%;
    align-items: center;
}

.chat-prompt-input-decoration {
    width: 17px;
}

.chat-prompt-input {
    width: 100%;
    margin-left: 10px;

    color: white;
    background: none;
    border: none;
    font-family: sans-serif;
    resize: none;
}
.chat-prompt-input:focus {
    border: none;
    outline: none;
}

.chat-prompt-action {
    position: relative;
    flex-shrink: 0;
    width: 28px;
    background: none;
    border: none;
    cursor: pointer;
}
.chat-prompt-action img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.chat-prompt-action .chat-prompt-action-tooltip {
    display: none;
    position: fixed;
    top: -20px;
    width: max-content;
    padding: 7px 14px;
    
    color: white;
    background: black;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.20);
    opacity: 0;
}
.chat-prompt-action .chat-prompt-action-tooltip p {
    margin: 0;
}

.action-send:disabled
.background {
    fill: #585859;
}
.action-send:disabled
.arrow {
    fill: #8C8C8C;
}


.chat-prompt-action-popup-exit {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 8;
}
.chat-prompt-action-popup-container {
    display: none; /* flex apabila dimunculkan */
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    flex-flow: column;
    z-index: 9;
}
.chat-prompt-action-popup-container
.chat-prompt-action-popup {
    width: max-content;
    border-radius: 8px;
    background: black;
    box-shadow: 0px 0px 8.536px 0px rgba(0, 0, 0, 0.20);
    z-index: 2;
}
.chat-prompt-action-popup-container
.chat-prompt-action-popup-triangle {
    transform: translateY(-5px);
}

.action-link-popup .chat-prompt-action-popup {
    display: grid;
    grid-template-areas:
        "title title"
        "input send";
    grid-template-columns: 1fr auto;
    padding: 13px 18px;
}

.action-link-popup .action-link-title {
    grid-area: title;
    margin: 0 0 6px 0;
    font-size: 14px;
}

.action-link-popup .action-link-input {
    grid-area: input;
    padding: 8px 7px;
    color: white;
    background: none;
    border: 1px solid #585859;
    border-radius: 4px;
}
.action-link-popup input:focus {
    outline: none;
}

.action-link-popup .action-link-send {
    grid-area: send;
    background: none;
    border: none;
    cursor: pointer;
}
.action-link-popup .action-link-send:disabled
.background {
    fill: #585859;
}
.action-link-popup .action-link-send:disabled
.arrow {
    fill: #8C8C8C;
}


.action-voice-popup .chat-prompt-action-popup {
    padding: 12px 0 18px 0;
}
.action-voice-popup .action-voice-popup-list-item {
    display: flex;
    width: 100%;
    padding: 4px 18px;
    align-items: center;
    gap: 8px;

    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
.action-voice-popup .action-voice-popup-list-item
img {
    width: 8px;
}
.action-voice-popup .action-voice-popup-list-item
p {
    margin: 0;
    font-size: 14px;
}


.chat-prompt-action-stop-record {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
}


/* === Dialog === */

.dialog-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-items: center;
    z-index: 10;

    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(3px);
}
.dialog {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 40px 30px;
    border-radius: 10px;
    background: #1F1F1F;
}
.dialog-exit-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
}
.dialog-title {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 600;
}
.dialog-description {
    font-size: 14px;
}

.knowledge-dialog-upload {
    display: flex;
    align-items: center;
    padding: 14px 22px;
    border: 1px dashed #6D75F6;
    border-radius: 6px;
}
.knowledge-dialog-upload-title {
    margin: 36px 0 18px 0;
}
.knowledge-dialog-upload-hint {
    width: 100%;
    margin: 0;
    color: #8C8C8C;
    font-size: 12px;
}
.knowledge-dialog-upload-button {
    padding: 8px 16px;
    color: white;
    background: #6D75F6;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.knowledge-dialog-table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
}
.knowledge-dialog-table tr {
    border-bottom: 1px solid #2D2D2D;
}
.knowledge-dialog-table th {
    padding-left: 4px;
    padding-bottom: 6px;
    color: #8C8C8C;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}
.knowledge-dialog-table th:nth-child(1) {
    padding-left: 14px;
}
.knowledge-dialog-table th:nth-child(4) {
    text-align: center;
}
.knowledge-dialog-table td {
    padding: 16px 6px;
    font-size: 12px;
    text-wrap: nowrap;
}
.knowledge-dialog-table td:nth-child(1) {
    width: 40%;
    padding-left: 14px;
    text-wrap: wrap;
}
.knowledge-dialog-table td:nth-child(4) {
    width: 50px;
}
.knowledge-dialog-table td:nth-child(5) {
    width: 20px;
}

.knowledge-dialog-table-process {
    padding: 3px 12px !important;
    color: #FFB66E;
    background: white;
    border-radius: 10px;

}

.knowledge-dialog-table-delete {
    background: none;
    border: none;
    cursor: pointer;
}


/* === Chat === */

.chat-list {
    padding: 40px 0;
    overflow: auto;
}

.chat-bubble {
    display: grid;
    grid-template-areas:
        "profile-picture text"
        ". audio";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    padding: 10px 38px 12px 24px;

    animation: bubble-show 1s;
}
.chat-bubble.chat-bubble-server {
    background: #6D75F626;
}

.chat-bubble-user .chat-bubble-profile-picture {
    grid-area: profile-picture;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    clip-path: circle();
}
.chat-bubble-server .chat-bubble-profile-picture {
    grid-area: profile-picture;
    width: 20px;
    height: 20px;
    padding: 8px;
    margin-right: 10px;

    clip-path: circle();
    background: white;
}

.chat-bubble-text {
    grid-area: text;
    margin-top: 2px;
    font-size: 12px;
}

.chat-bubble-loading {
    grid-area: text;
    width: 20px;
    height: 20px;
    margin: 8px 0 0 4px;
    animation: loading-spinner 1s infinite linear;
}

@keyframes bubble-show {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
}

@keyframes loading-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* === Attachment === */

.chat-prompt-attachment-list {
    display: flex;
    gap: 8px;
}

.chat-prompt-audio-recording {
    width: 100%;
    height: 100%;
    margin-right: 14px;
}

.attachment-voice {
    display: flex;
    position: relative;
    align-items: center;
    padding: 4px 12px 4px 8px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #000;
}

.attachment-voice-toggle-button {
    width: 32px;
    height: 32px;
    padding: 0;

    background: center/cover url(assets/attachment_voice_play.svg);
    border: none;
    cursor: pointer;
}
.attachment-voice-toggle-button.playing {
    background: center/cover url(assets/attachment_voice_pause.svg);
}

.attachment-voice-waveform {
    width: 86px;
    height: 40px;
    margin: 0 8px;
}

.attachment-voice-duration {
    font-size: 10px;
}

.attachment-voice-remove-button {
    position: absolute;
    top: 0;
    top: -4px;
    right: 2px;
    width: 14px;
    height: 14px;

    background: center/cover url(assets/attachment_remove.svg);
    border: none;
    cursor: pointer;
}


.attachment-link {
    position: relative;
    display: grid;
    grid-template-areas:
        "banner url loading"
        "banner description loading";
    border-radius: 3px;
    background: #2D2D2D;
}

.attachment-link-banner {
    grid-area: banner;
    display: grid;
    place-items: center;
    margin-right: 8px;
    padding: 6px;
    box-sizing: border-box;

    border-radius: 3px 0px 0px 3px;
    background: #6D75F6;
    font-size: 14px;
}
.attachment-link-banner p {
    margin: 0;
}

.attachment-link-url {
    grid-area: url;
    margin: 4px 0 0 0;
    color: white;
    font-size: 14px;
}

.attachment-link-description {
    grid-area: description;
    margin: 2px 0 4px 0;
    color: #8C8C8C;
    font-size: 12px;
}

.attachment-link-loading {
    grid-area: loading;
    width: 24px;
    height: 100%;
    margin: 0 8px;
    animation: loading-spinner 1s infinite linear;
}

.attachment-link-remove-button {
    position: absolute;
    top: 0;
    top: -4px;
    right: -4px;
    width: 14px;
    height: 14px;

    background: center/cover url(assets/attachment_remove.svg);
    border: none;
    cursor: pointer;
}


.attachment-file {
    position: relative;
    display: grid;
    grid-template-areas:
        "banner name"
        "banner size";
    padding-right: 8px;
    border-radius: 3px;
    background: #2D2D2D;
}

.attachment-file-banner {
    grid-area: banner;
    display: grid;
    place-items: center;
    margin-right: 8px;
    padding: 6px;
    box-sizing: border-box;

    border-radius: 3px 0px 0px 3px;
    background: #6D75F6;
    font-size: 14px;
}
.attachment-file-banner p {
    margin: 0;
    text-transform: uppercase;
}

.attachment-file-name {
    grid-area: name;
    margin: 4px 0 0 0;
    color: white;
    font-size: 14px;
}

.attachment-file-size {
    grid-area: size;
    margin: 2px 0 4px 0;
    color: #8C8C8C;
    font-size: 12px;
}

.attachment-file-remove-button {
    position: absolute;
    top: 0;
    top: -4px;
    right: -4px;
    width: 14px;
    height: 14px;

    background: center/cover url(assets/attachment_remove.svg);
    border: none;
    cursor: pointer;
}