/** Start GLOBAL KIT */
* {
    margin: 0;
    padding: 0;
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
}

body {
    width: 100%;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
}

nav a.active {
    color: #6D75F6;
    text-decoration: underline;
    text-decoration-thickness: 1.29px;
}

button.uploud, button.submit {
    border-radius: 0.232rem;
    background: #6D75F6;
    color: #FFF;
    font-weight: 600;
    padding: 6px 15px;
    border: none;
}

button.next {
    padding: 8px 44px 7.29px 44px;
    border-radius: 0.214rem;
    background-color: #6D75F6;
    border: none;
}

a button.next {
    color: #FFF;
    text-decoration: none;
    font-size: 16px; /* 14px */
    font-weight: 600;
}

/* ? Font weight 700 */
@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url(/settings/font/AvenirNextLTPro-Bold.ttf);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

/* ? Font weight from 400(defaults) - 600 */
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url(/settings/font/AvenirNextLTPro-Regular.ttf);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}
/** End GLOBAL KIT */

.content {
    overflow-y: scroll;
    grid-column: 1;
    grid-template-rows: 75px auto;
    grid-template-columns: 1fr;
    padding: 50px 0 50px 44px;
    box-sizing: border-box;
    width: 100%;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #000;
}

*::-webkit-scrollbar-thumb {
    background: #0f0f0f;
    border-radius: 11px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #6D75F6;
}

nav {
    grid-row: 1;
    overflow: hidden;
    margin-bottom: 50px;
}

nav a {
    float: left;
    display: block;
    color: #585859;
    text-align: center;
    padding-right: 44px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
    font-size: 20px; /* 18px */
    font-weight: 600;
}

nav a:hover {
    color: #6D75F6;
    text-decoration: underline;
    text-decoration-thickness: 1.29px;
}

.content-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.title-content h2 {
    color: #fff;
    font-size: 20px; /* 18px */
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 600;
}

.title-content p {
    color: #8C8C8C;
    font-size: 16px; /* 14px */
    font-style: normal;
    font-weight: 400;
}

.title-content {
    margin-bottom: 50px;
}

.fix-state {
    width: 50%;
    position: sticky;
    background-color: #1f1f1f;
    overflow-y: scroll;
}

.preview {
    grid-column: 2;
    padding: 35px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.preview h2 {
    color: #fff;
    font-size: 20px; /* 18px */
    margin-top: 97px;
    margin-bottom: 102px;
    font-style: normal;
    font-weight: 500;
}

.preview h1 {
    color: #fff;
    font-size: 26px; /* 24px */
    font-style: normal;
    font-weight: 600;
    margin-bottom: 11.57px;
}

.preview p {
    color: #fff;
    font-size: 14px; /* 12px */
    font-style: normal;
    font-weight: 400;
}

.preview img {
    width: 48px;
    height: 48px;
    margin-bottom: 6px;
}

.assistant-container {
    margin: 36.71px 0 310.43px 0;
    border: solid #6D75F6 1px;
    border-radius: 8.5px;
    width: 100%;
}

.assistant-container textarea {
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    background: none;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    color: white;
    resize: none;
}

.assistant-container .top {
    display: flex;
}

.assistant-container .top img {
    width: 19px;
    padding-left: 10px;
}

.assistant-container .bottom {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-right: 10px;
}

.assistant-container .bottom button {
    background: none;
    border: none;
    cursor: pointer;
}

.assistant-container .bottom img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}