
.api-token-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.api-token-container h2 {
    color: #FFF;
    font-size: 18px; /* 16px */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}

.api-token-title {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
}

.api-token-title p {
    color: #FFF;
    font-size: 16px; /* 14px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secret-key-container {
    display: flex;
    gap: 10px;
    border: solid #2d2d2d 1px;
    border-radius: 5.04px;
    background: #2D2D2D;
    width: 100%;
    max-width: 374px;
    box-sizing: border-box;
    padding: 10px;
}

.secret-key-container input {
    background: none;
    border: none;
    width: 100%;
}

.secret-key-input {
    color: #d9d9d9;
}

.secret-key-container input:focus {
    outline: none;
}

.secret-key-container img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.secret-key-container button {
    background: none;
    border: none;
}

.secret-key-container button:last-child {
    border-left: solid #585859 1px;
    padding-left: 10px;
}

.content-container .submit-btn {
    display: flex;
    justify-content: left;
    margin-top: 113px
}

.content-container input[type="submit"] {
    width: 120px;
    height: 34.286px;
    border-radius: 3.429px;
    background: #6D75F6;
    color: white;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    font-size: 16px; /* 14px */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}