/** Start Style Knownledges Container */
.knownledges-container {
    font-family: 'AvenirNextLTPro-Regular';
    background-color: #000;
    color: #FFF;
}

.knownledges-container .title-heading {
    color: #FFF;
    font-size: 20px; /* 18px */
    font-weight: 600;
}

.knownledges-container .title-heading--p {
    padding-top: 4.71px;
    color: #8C8C8C;
    font-size: 16px; /* 14px */
}


.select-files-or-urls {
    display: flex;
    gap: 5px;
    background-color: #2D2D2D;
    width: fit-content;
    padding: 3.38px 5px;
    border-radius: 0.58rem;
    cursor: pointer;
    margin-top: 50.29px;
    margin-bottom: 29.71px;
}

.select-files-or-urls .select-item {
    background: transparent;
    padding: 8px 25px;
    border-radius: 0.464rem;
    font-weight: 600;
    font-size: 16px; /* 14px */
    color: #585859;
}

.select-files-or-urls .select-item.active {
    background: #FFF;
    color: #6D75F6;
}

.for-files .title-label,
.for-urls .title-label {
    font-size: 16px; /* 14px */
}

label.placeholderx {
    color: #8C8C8C;
    font-size: 14px !important; /* 12px */
    padding-left: 12.14px;
    padding-top: 10px;
}

#url-input {
    padding-left: 12.14px;
}

.title-label{
    margin-bottom: 17.2px;
}

#url-input-form {
    margin-top: 17.2px;
}

#file-upload-form {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content:space-between;
    border-width: 0.928px;
    border-color: #6D75F6;
    border-style: dotted;
    border-radius: 0.348rem;
    padding: 10px;
}


/* ? Change label to input file click */
#file-upload-form label {
    cursor: pointer;
    font-size: small;
}

/* TODO: input file click */
input[type="file"] {
    display: none;
}

#url-input-form {
    flex-direction: row;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content:space-between;
    border-width: 0.928px;
    border-color: #585859;
    border-style: solid;
    border-radius: 0.348rem;
    position: relative;
    padding: 7px 9px;
}

#url-input-form input {
    background: transparent;
    border: none;
    color: #FFF;
    width: 90%;
}

#url-input-form input:focus {
    outline: none;
    border: none;
}

/* TODO: Change container from class "select-files-or-urls" */
.for-files.active {
    display: block;
}

.for-files:not(.active) {
    display: none;
}

.for-urls.active {
    display: block;
}

.for-urls:not(.active) {
    display: none;
}

.data-table {
    width: 90%;
    margin-top: 22.28px;
    text-align: left;
    margin-bottom: 121.18px;
}

.data-table td.center {
    text-align: center;
}

.data-table th {
    color: #8C8C8C;
    font-size: 16px; /* 14px */
    padding: 6.07px 0px;
}

.data-table td {
    font-size: 14px; /* 12px */
    padding: 16.58px 0px;
}

.data-table th,
.data-table td {
    border-bottom: 1px solid #2D2D2D;
}

.data-table td.except {
    border-bottom: none;
}

.data-table button {
    font-size: 14px; /* 12px */
    font-weight: 500;
    border: none;
    border-radius: 0.873rem;
    padding: 2px 11px;
}

.data-table button.process {
    color: #FFB66E;
}

.data-table button.trained {
    color: #369D06;
}

.data-table .trash {
    background: transparent;
    width: 14.9px;
    height: 14.9px;
    cursor: pointer;
}

#noFilesMessage {
    color: #585859;
    font-size: 14px; /* 12px */
}
/** End Style Knownledges Container */
