.content-container h2 {
  color: #fff;
  font-size: 20px; /* 18px */
  margin-bottom: 6px;
  font-weight: 600;
}

.content-container p {
  color: #8C8C8C;
  font-size: 16px; /* 14px */
  font-weight: 400;
}

.title-content {
  margin-bottom: 0px;
}

.content-container form {
  display: flex;
  flex-direction: column;
}

.content-container input[type="text"],
.content-container textarea,
.content-container select {
  color: #fff;
  width: 100%;
  padding: 10px;
  border: solid #585859 1px;
  border-radius: 3.43px;
  outline: none;
  background: none;
  resize: none;
}

.content-container input[type="file"] {
  padding: 10px;
  border-radius: 3.43px;
  cursor: pointer;
}

.content-container .submit-btn {
  display: flex;
  justify-content: left;
  margin-top: 113px;
}

.content-container input[type="submit"] {
  width: 120px;
  height: 34.286px;
  border-radius: 3.429px;
  background: #6D75F6;
  color: white;
  border: none;
  font-size: 16px; /* 14px */
  font-weight: 600;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  gap: 10px;
}

.title-content-capabilities{
  padding-bottom: 10px;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  box-shadow: #585859 0px 0px 0px 2px;
  background-color: rgba(16, 16, 16, 0.5);
  height: 20px;
  width: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-top: -1px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  margin: -1px 10px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container input:checked ~ .checkmark {
  box-shadow: #6D75F6 0px 0px 0px 2px;
  background-color: #6D75F6;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-top: -1px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  margin: -1px 10px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: flex;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 6.37px;
  height: 11px;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
  transition: all 500ms ease-in-out;
}
  
.style-checkbox {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  font-weight: 600; 
}

.style-checkbox .container {
  font-size: 14px; /* 12px */
  color: #fff;
  font-weight: 600;
}

.style-checkbox .container label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-weight: 600; /* Mengatur ketebalan font */
}

.option{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subcontainer{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

