button {
    background: none;
    border: none;
}

.content-container p {
    color: #8C8C8C;
    font-size: 16px; /* 14px */
    font-style: normal;
    font-weight: 400;
}

.title-content {
    margin-bottom: 50px;
}

.content-container form {
    display: flex;
    flex-direction: column;
}

.input-field-category {
    margin-bottom: 20px;
    background: none;
    width: 100%;
}

.content-container .input-field-name,
.content-container .input-field-greeting {
    margin-bottom: 20px;
    background: none;
    width: 50%;
}

.content-container .input-field-descriptions {
    margin-bottom: 23px;
    background: none;
    width: auto;
    margin-right: 232px;
}

.content-container .input-field-organization,
.content-container .input-field-logo {
    margin-bottom: 20px;
    background: none;
    width: 50%;
}

.content-container label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px; /* 14px */
    font-weight: 400;
    font-style: normal;
}

.input-field-category button{
    text-align: left;
    cursor: pointer;
}

.content-container input[type="text"],
.content-container textarea,
.content-container select {
    color: #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: solid #585859 1px;
    border-radius: 3.43px;
    outline: none;
    background: none;
    resize: none;
}

.content-container input[type="file"] {
    padding: 10px;
    box-sizing: border-box;
    /* box-sizing: border-box;
    border: solid #585859 1px; */
    border-radius: 3.43px;
}

.assistant-logo {
    display: flex;
    position: relative;
}

.container-assistant-logo {
    padding: 6px 10px;
    box-sizing: border-box;
    border: solid #585859 1px;
    border-radius: 3.43px;
    cursor: pointer;
    width: auto;
    margin-right: 12px;
    cursor: pointer;
}


.upload-logo button {
    color: #6D75F6;
    font-size: 16px; /* 14px */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: none;
    border: none;
    margin-bottom: 4px;
    cursor: pointer;
}

.upload-logo {
    background: transparent;
    position: relative;
}

.input-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.content-container .submit-btn {
    display: flex;
    justify-content: left;
    margin-top: 113px;
}

.content-container input[type="submit"] {
    width: 120px;
    height: 34.286px;
    border-radius: 3.429px;
    background: #6D75F6;
    color: white;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    font-size: 16px; /* 14px */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 232px;
}

.help-option {
    display: flex;
    gap: 14px;
    overflow: auto;
}
.help-option::-webkit-scrollbar {
    display: none;
}

.container-help-option {
    display: flex;
    border: solid #585859 1px;
    border-radius: 3.43px;
    padding: 15px 25px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.container-help-option:last-child {
    margin-right: 20px;
}

.logo-option {
    margin-right: 15px;
}

.title-option {
    color: #FFF;
    font-size: 16px; /* 14px */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 4px;
}

.detail-option {
    color: #8C8C8C;
    font-size: 14px; /* 12px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}